<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body id="admin">

    <div id="container">
        <header>
            <h1>A침adir producto</h1>
            <input type="submit" form="create-game" value="Guardar">
        </header>
        <main>

            <form id="create-game" action="/admin/nuevo" method="POST">


                <fieldset>
                    <legend>Datos del producto</legend>
                    <div>
                        <label for="titulo">Titulo</label>
                        <input id="titulo" required type="text" name="titulo">
                    </div>
                    <div>
                        <label for="id">Id</label>
                        <input type="number" required name="id" id="id">
                    </div>
                    <div>
                        <label for="imagen">Url imagen</label>
                        <input type="url" name="imagen" id="imagen">
                    </div>
                    <div>
                        <label for="categoria">Categoria</label>
                        <input type="text" name="categoria" list="categoria_list" id="categoria">
                        <datalist id="categoria_list">
                            <option value="aventura">Aventura</option>
                            <option value="accion">Acci칩n</option>
                            <option value="fantasia">Fantasia</option>
                        </datalist>
                    </div>
                    <div>
                        <label for="precio">Precio</label>
                        <input type="number" id="precio" name="precio">
                    </div>
                    <div>
                        <label for="descripcion">Descripci칩n</label>
                        <textarea id="descripcion" name="descripcion"></textarea>
                    </div>      

                    <input type="hidden" name="creator" value="<%=username %>">
                    <input type="hidden" name="info" id="info">
                    <!--
                        Condiciones de envio de un formulario:
                            - pulsar un button de tipo submit (por defecto)
                            - pulsar sobre un input de tipo submit ("antiguo")
                    -->

                    <div>
                        <button type="submit">Enviar</button>
                        <input type="reset" value="Borrar">

                    </div>
                </fieldset>
            </form>



        </main>
        
        <%- include("partials/footer") %> 

        <aside>
            <h2>Menu</h2>
            <nav>
                <ul>
                    <li><a href="/admin">Listado de productos</a></li>
                    <li><a href="/admin/create">A침adir producto</a></li>
                    <li><a href="#">Opcion3</a></li>
                </ul>
                <hr>
                <ul>
                    <li><a href="/admin/logout">Salir</a></li>
                </ul>
            </nav>
        </aside>

    </div>
    <script src="/javascripts/app.js"></script>

</body>
</html>