div#container{
    display:grid;
    grid-template-rows: 50px 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "aside footer";
    
    aside{ grid-area: aside; }
    footer{ grid-area:footer; }
    header{ grid-area: header; }
    main{ grid-area: main; }

    min-height: 100vh;
}

aside{
    background-color:black;
}

footer{
    text-align: center;
    background-color: blue;
}

main{
    display:grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

header{
    background-color: var(--primary-background);
}

/*  Tabla con listado de juegos */

#admin table{

    border-collapse: collapse;
    border:solid 4px ;


    caption{
        font-size:2rem;
        margin-bottom:1rem;
    }

    th,td{
        font-size:1.2rem;
        border:solid 1px;
        padding:1rem;
    }

    tbody tr:nth-child(2n+1){
        background-color:rgba(31, 192, 192, 0.299);
    }
    tbody tr:nth-child(2n){
        background-color:rgba(31, 161, 161, 0.299);
    }

    tbody tr:hover{
        background-color: blueviolet;
        color:white;
    }

    tbody td:hover{
        background-color: rgb(168, 149, 186);
        color:white;
    }

    .first-col{
        background-color:aquamarine;
    }

}

table + div.pagination{
    display:none;
    justify-content: center;
    gap:1rem;
    button{
        padding:0.5rem;
    }
}

#admin table.page{
    height: 400px;
    display:block;
    overflow-y:scroll;

}

#admin:has(table.page) table + div.pagination{
    display:flex;
}