div#container{
    display:grid;
    grid-template-rows: 50px 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "aside footer";
    
    aside{ grid-area: aside; }
    footer{ grid-area:footer; }
    header{ grid-area: header; }
    main{ grid-area: main; }

    min-height: 100vh;
}

aside{
    background-color:black;
}

footer{
    text-align: center;
    background-color: blue;
}

main{
    display:grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

header{
    background-color: var(--primary-background);
}

